In [2]:
from V6_tratamiento import tratamiento, tratamiento2
from utils import *

import pandas as pd
import numpy as np
from feature_engine.imputation import RandomSampleImputer
from sklearn.preprocessing import LabelEncoder
from pycaret.classification import *

In [3]:
df_modelado = pd.read_pickle("./pickles_temp/V6.1.pkl") 
df_modelado.head(1)

,id,amount_tsh,amount_tsh_bool,funder,funder_frequency_encoded,gps_height,installer,installer_frequency_encoded,longitude,latitude,...,source_class_groundwater,source_class_surface,waterpoint_type_communal standpipe,waterpoint_type_communal standpipe multiple,waterpoint_type_hand pump,waterpoint_type_improved spring,waterpoint_type_other,status_group,random1,random2
0,69572,6000.0,1,3376,275,1390.0,3477,94,34.938093,-9.856322,...,True,False,True,False,False,False,False,2,719,788

In [4]:
model_setup = setup(data=df_modelado, 
                    target = 'status_group', 
                    )

In [5]:
if 0:
    best_model = compare_models()
else:
    best_model = create_model('rf')

In [6]:
# Probamos el score de la web
df_target = pd.read_csv('./test set values.csv', sep=',')
df_target = tratamiento(df_target)
df_target = tratamiento2(df_target)
df_target

Warning: No categorical columns found. Calling 'transform' will only return input data.
Este df no tiene status_group

,id,amount_tsh,funder,gps_height,installer,longitude,latitude,wpt_name,basin,subvillage,...,source_type_spring,source_class_groundwater,source_class_surface,waterpoint_type_communal standpipe,waterpoint_type_communal standpipe multiple,waterpoint_type_hand pump,waterpoint_type_improved spring,waterpoint_type_other,random1,random2
0,50785,0.0,174,1996.0,213,35.290799,-4.059696,834,0,3956,...,False,False,True,False,False,False,False,True,244,857
1,51630,0.0,249,1569.0,220,36.656709,-3.309214,2053,5,2753,...,True,True,False,True,False,False,False,False,841,98
2,17168,0.0,385,1567.0,440,34.767863,-5.004344,10014,0,5440,...,False,False,True,False,False,False,False,True,335,330
3,45559,0.0,221,267.0,261,38.058046,-9.418672,5870,7,2831,...,False,True,False,False,False,False,False,True,981,241
4,49871,500.0,72,1260.0,74,35.006123,-10.950412,5981,7,3582,...,True,True,False,True,False,False,False,False,875,278
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14845,39307,0.0,144,34.0,225,38.852669,-6.582841,7498,8,8455,...,False,False,True,True,False,False,False,False,282,872
14846,18990,1000.0,285,816.5,318,37.451633,-5.350428,480,5,5069,...,False,True,False,False,False,True,False,False,942,595
14847,28749,0.0,927,1476.0,659,34.739804,-4.585587,606,0,1868,...,False,False,True,True,False,False,False,False,452,58
14848,33492,0.0,241,998.0,220,35.432732,-10.584159,3713,1,6288,...,False,False,True,True,False,False,False,False,697,881
14849,68707,0.0,249,481.0,303,34.765054,-11.226012,5329,1,2039,...,True,True,False,True,False,False,False,False,292,630

In [7]:
""" df_predictions = predict_model(best_model, data=df_target)
df_result = df_predictions[['id', 'prediction_label']]
df_result.rename(columns={'prediction_label': 'status_group'}, inplace=True)
df_result.set_index('id', inplace=True) """

" df_predictions = predict_model(best_model, data=df_target)\ndf_result = df_predictions[['id', 'prediction_label']]\ndf_result.rename(columns={'prediction_label': 'status_group'}, inplace=True)\ndf_result.set_index('id', inplace=True) "

In [8]:
def prediccion_final(df_target, best_model):
    """ cat_cols= df_target.select_dtypes(include=['object','category']).columns
    print("cat_cols: ", cat_cols)
    num_cols = df_target.select_dtypes(exclude=['object','category']).columns
    le = LabelEncoder()
    for variable in cat_cols:
        df_target[variable] = le.fit_transform(df_target[variable])
 """
    df_predictions = predict_model(best_model, data=df_target)
    df_result = df_predictions[['id', 'prediction_label']]
    df_result.rename(columns={'prediction_label': 'status_group'}, inplace=True)
    df_result.set_index('id', inplace=True)
    df_result['status_group'].replace([0, 1, 2], ['non functional', 'functional needs repair', 'functional'], inplace=True)
    return (df_result)

df_result = prediccion_final(df_target, best_model)

df_result.to_csv("./resultados/V7_0_tratamiento.csv")
# Da un resultado de 0.7611
# Me sorprende mucho la diferencia entre 0.8029 del modelo retornado por el rf y 0.7611 de la web. ¿Estaré dando el mismo tratamiento a los datos?

In [9]:
# Voy a intentar hacer los siguiente antes de la fecha límite de entrega. 

# Probar VIF
# Probar oversample
# Probar ensembles
# Xgboost

# También podría seguir minando los datos creando y borrando columnas, nuevas variables, imputar nulos de otra forma etc... pero eso llevaría
#   mucho tiempo y el objetivo de la práctica no es sacar la mejor puntuación sino aprender

In [10]:
# Pruevo inflacción de la varianza

# Copiado del archivo "multicolinealidad.ipynb"

from sklearn.linear_model import LinearRegression

def calculateVIF(data):
    features = list(data.columns)
    num_features = len(features)
    
    model = LinearRegression()
    
    result = pd.DataFrame(index = ['VIF'], columns = features)
    result = result.fillna(0)
    
    for ite in range(num_features):
        x_features = features[:]
        y_featue = features[ite]
        x_features.remove(y_featue)
        
        x = data[x_features]
        y = data[y_featue]
        
        model.fit(data[x_features], data[y_featue])
        
        result[y_featue] = 1/(1 - model.score(data[x_features], data[y_featue]))
    
    return result

calculateVIF(df_modelado)
df_modelado

,id,amount_tsh,amount_tsh_bool,funder,funder_frequency_encoded,gps_height,installer,installer_frequency_encoded,longitude,latitude,...,source_class_groundwater,source_class_surface,waterpoint_type_communal standpipe,waterpoint_type_communal standpipe multiple,waterpoint_type_hand pump,waterpoint_type_improved spring,waterpoint_type_other,status_group,random1,random2
0,69572,6000.0,1,3376,275,1390.0,3477,94,34.938093,-9.856322,...,True,False,True,False,False,False,False,2,719,788
1,8776,0.0,0,1709,53,1399.0,1750,39,34.698766,-2.147466,...,False,True,True,False,False,False,False,2,384,966
2,34310,25.0,1,2413,8,686.0,4397,408,37.460664,-3.821329,...,False,True,False,True,False,False,False,2,770,718
3,67743,0.0,0,3962,1057,263.0,4002,222,38.486161,-11.155298,...,True,False,False,True,False,False,False,0,571,16
4,19728,0.0,0,794,1,1527.0,906,135,31.130847,-1.825359,...,False,True,True,False,False,False,False,2,591,472
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59395,60739,10.0,1,1663,610,1210.0,1093,610,37.169807,-3.253847,...,True,False,True,False,False,False,False,2,608,769
59396,27263,4700.0,1,1118,23,1212.0,1184,15,35.249991,-9.070629,...,False,True,True,False,False,False,False,2,128,382
59397,37057,0.0,0,667,1,1532.5,711,1,34.017087,-8.750434,...,True,False,False,False,True,False,False,2,526,296
59398,31282,0.0,0,2535,3,820.5,2852,5,35.861315,-6.378573,...,True,False,False,False,True,False,False,2,558,22
59399,26348,0.0,0,4232,1349,191.0,4389,121,38.104048,-6.747464,...,True,False,False,False,True,False,False,2,216,569

In [11]:
# Dejo los nombres de la copia para no falle nada y no perder tiempo

wine_vif = df_modelado.copy(deep = True)
features = list(wine_vif.columns)
features.remove('status_group')
wine_vif = wine_vif[features]

for i in range(len(features)):
    var = features[i]
    fet = features[:]
    fet.remove(var)
    
    x = wine_vif[fet]
    y = df_modelado[var]
    
    model = LinearRegression()
    model.fit(x, y)
    
    vif = 1 / (1 - model.score(x, y))
    
    print ('El valor del VIF para la variable', var, 'es:', vif)

# inf significa infinito. Parace que TODAS las variable booleanas tienen un indice de inflacción de la varianza infinito.

El valor del VIF para la variable id es: 1.0010078544459629
El valor del VIF para la variable amount_tsh es: 1.0690696166039644
El valor del VIF para la variable amount_tsh_bool es: 3.2888740401529537
El valor del VIF para la variable funder es: 1.3981249263295465
El valor del VIF para la variable funder_frequency_encoded es: 1.3304814177995374
El valor del VIF para la variable gps_height es: 1.9825054705491498
El valor del VIF para la variable installer es: 1.55900519832916
El valor del VIF para la variable installer_frequency_encoded es: 1.459931899000686
El valor del VIF para la variable longitude es: 2.3883630384585657
El valor del VIF para la variable latitude es: 1.9339265127311387
El valor del VIF para la variable wpt_name es: 1.124996679397665
El valor del VIF para la variable wpt_name_frequency_encoded es: 1.157990744387005
El valor del VIF para la variable num_private_b es: 1.1143297934996883
El valor del VIF para la variable basin es: 1.9596304727038047
El valor del VIF para la variable subvillage es: 1.0333024855814632
El valor del VIF para la variable subvillage_frequency_encoded es: 1.030009437407411
El valor del VIF para la variable region es: 1.7542396248641094
El valor del VIF para la variable region_frequency_encoded es: 2.203590182362956
El valor del VIF para la variable region_code es: 2.6167565979924374
El valor del VIF para la variable district_code es: 2.320573830138494
El valor del VIF para la variable lga es: 1.3111205130895178
El valor del VIF para la variable lga_frequency_encoded es: 2.2398563153175974
El valor del VIF para la variable ward es: 1.0455804381127796
El valor del VIF para la variable ward_frequency_encoded es: 1.573747525357181
El valor del VIF para la variable population es: 1.0988570186574116
El valor del VIF para la variable public_meeting es: 1.144028402511478
El valor del VIF para la variable permit es: 1.2360176240731477
El valor del VIF para la variable construction_year es: 1.13098341570015
El valor del VIF para la variable year_recorded es: 1.9107029835793499
El valor del VIF para la variable management_Other es: inf
El valor del VIF para la variable management_Parastatal es: inf
El valor del VIF para la variable management_Private operator es: inf
El valor del VIF para la variable management_VWC es: inf
El valor del VIF para la variable management_WUA es: inf
El valor del VIF para la variable management_WUG es: inf
El valor del VIF para la variable management_Water Board es: inf
El valor del VIF para la variable management_Water authority es: inf
El valor del VIF para la variable extraction_type_class_gravity es: inf
El valor del VIF para la variable extraction_type_class_handpump es: inf
El valor del VIF para la variable extraction_type_class_motorpump es: inf
El valor del VIF para la variable extraction_type_class_other es: inf
El valor del VIF para la variable extraction_type_class_rope pump es: inf
El valor del VIF para la variable extraction_type_class_submersible es: inf
El valor del VIF para la variable extraction_type_class_wind-powered es: inf
El valor del VIF para la variable management_group_commercial es: inf
El valor del VIF para la variable management_group_other/unknown es: inf
El valor del VIF para la variable management_group_parastatal es: inf
El valor del VIF para la variable management_group_user-group es: inf
El valor del VIF para la variable payment_type_annually es: inf
El valor del VIF para la variable payment_type_monthly es: inf
El valor del VIF para la variable payment_type_never pay es: inf
El valor del VIF para la variable payment_type_on failure es: inf
El valor del VIF para la variable payment_type_other/unknown es: inf
El valor del VIF para la variable payment_type_per bucket es: inf
El valor del VIF para la variable quality_group_colored es: inf
El valor del VIF para la variable quality_group_fluoride es: inf
El valor del VIF para la variable quality_group_good es: inf
El valor del VIF para la variable quality_group_milky es: inf
El valor del VIF para la variable quality_group_salty es: inf
El valor del VIF para la variable quality_group_unknown es: inf
El valor del VIF para la variable quantity_dry es: inf
El valor del VIF para la variable quantity_enough es: inf
El valor del VIF para la variable quantity_insufficient es: inf
El valor del VIF para la variable quantity_seasonal es: inf
El valor del VIF para la variable source_type_borehole es: inf
El valor del VIF para la variable source_type_dam es: inf
El valor del VIF para la variable source_type_other es: inf
El valor del VIF para la variable source_type_rainwater harvesting es: inf
El valor del VIF para la variable source_type_river/lake es: inf
El valor del VIF para la variable source_type_shallow well es: inf
El valor del VIF para la variable source_type_spring es: inf
El valor del VIF para la variable source_class_groundwater es: inf
El valor del VIF para la variable source_class_surface es: inf
El valor del VIF para la variable waterpoint_type_communal standpipe es: inf
El valor del VIF para la variable waterpoint_type_communal standpipe multiple es: inf
El valor del VIF para la variable waterpoint_type_hand pump es: inf
El valor del VIF para la variable waterpoint_type_improved spring es: inf
El valor del VIF para la variable waterpoint_type_other es: inf
El valor del VIF para la variable random1 es: 1.000851574016282
El valor del VIF para la variable random2 es: 1.000997685687105

In [12]:
# Voy a probar la automatización de la eliminación de variables hasta que la mayor sea inferior a 5
def calculateVIF(data):
    features = list(data.columns)
    num_features = len(features)
    
    model = LinearRegression()
    
    result = pd.DataFrame(index = ['VIF'], columns = features)
    result = result.fillna(0)
    
    for ite in range(num_features):
        x_features = features[:]
        y_featue = features[ite]
        x_features.remove(y_featue)
        
        x = data[x_features]
        y = data[y_featue]
        
        model.fit(data[x_features], data[y_featue])
        
        result[y_featue] = 1/(1 - model.score(data[x_features], data[y_featue]))
    
    return result

wine_vif = df_modelado.copy(deep = True)
features = list(wine_vif.columns)
features.remove('status_group')
wine_vif = wine_vif[features]

calculateVIF(wine_vif)

,id,amount_tsh,amount_tsh_bool,funder,funder_frequency_encoded,gps_height,installer,installer_frequency_encoded,longitude,latitude,...,source_type_spring,source_class_groundwater,source_class_surface,waterpoint_type_communal standpipe,waterpoint_type_communal standpipe multiple,waterpoint_type_hand pump,waterpoint_type_improved spring,waterpoint_type_other,random1,random2
VIF,1.001008,1.06907,3.288874,1.398125,1.330481,1.982505,1.559005,1.459932,2.388363,1.933927,...,inf,inf,inf,inf,inf,inf,inf,inf,1.000852,1.000998

In [13]:
# 7'
# Selecciona las columnas que no presentan colinealidad con otras. 
def selectDataUsingVIF(data, max_VIF = 5):
    result = data.copy(deep = True)
    
    VIF = calculateVIF(result)
    
    while VIF.values.max() > max_VIF:
        col_max = np.where(VIF == VIF.values.max())[1][0]
        features = list(result.columns)
        features.remove(features[col_max])
        result = result[features]
        
        VIF = calculateVIF(result)
        
    return result

selected_data = calculateVIF(selectDataUsingVIF(wine_vif))
columns = selected_data.columns

In [29]:
columns

Index(['id', 'amount_tsh', 'amount_tsh_bool', 'funder',
       'funder_frequency_encoded', 'gps_height', 'installer',
       'installer_frequency_encoded', 'longitude', 'latitude', 'wpt_name',
       'wpt_name_frequency_encoded', 'num_private_b', 'basin', 'subvillage',
       'subvillage_frequency_encoded', 'region', 'region_frequency_encoded',
       'region_code', 'district_code', 'lga', 'lga_frequency_encoded', 'ward',
       'ward_frequency_encoded', 'population', 'public_meeting', 'permit',
       'construction_year', 'year_recorded', 'management_Parastatal',
       'management_Private operator', 'management_VWC', 'management_WUA',
       'management_WUG', 'management_Water Board',
       'management_Water authority', 'extraction_type_class_motorpump',
       'extraction_type_class_other', 'extraction_type_class_rope pump',
       'extraction_type_class_submersible',
       'extraction_type_class_wind-powered', 'management_group_other/unknown',
       'management_group_user-group', 'payment_type_monthly',
       'payment_type_on failure', 'payment_type_other/unknown',
       'payment_type_per bucket', 'quality_group_fluoride',
       'quality_group_milky', 'quality_group_salty', 'quality_group_unknown',
       'quantity_enough', 'quantity_insufficient', 'quantity_seasonal',
       'source_type_dam', 'source_type_other',
       'source_type_rainwater harvesting', 'source_type_river/lake',
       'source_type_shallow well', 'source_type_spring',
       'waterpoint_type_communal standpipe multiple',
       'waterpoint_type_improved spring', 'waterpoint_type_other', 'random1',
       'random2'],
      dtype='object')

In [14]:
# Pruebo el modelo con las nuevas variables
pd.set_option('display.max_columns', None)

new_df_modelado = df_modelado[columns].copy()
print(new_df_modelado.shape)
print(df_modelado.shape)
# vemos que el modelo se ha reducido en 16 columnas que parece tenian multicolinealidad.
# Pruebo a tirarlo de nuevo:

(59400, 65)
(59400, 81)

In [15]:
columns2 = columns

In [19]:
new_df_modelado.head(1)

,id,amount_tsh,amount_tsh_bool,funder,funder_frequency_encoded,gps_height,installer,installer_frequency_encoded,longitude,latitude,wpt_name,wpt_name_frequency_encoded,num_private_b,basin,subvillage,subvillage_frequency_encoded,region,region_frequency_encoded,region_code,district_code,lga,lga_frequency_encoded,ward,ward_frequency_encoded,population,public_meeting,permit,construction_year,year_recorded,management_Parastatal,management_Private operator,management_VWC,management_WUA,management_WUG,management_Water Board,management_Water authority,extraction_type_class_motorpump,extraction_type_class_other,extraction_type_class_rope pump,extraction_type_class_submersible,extraction_type_class_wind-powered,management_group_other/unknown,management_group_user-group,payment_type_monthly,payment_type_on failure,payment_type_other/unknown,payment_type_per bucket,quality_group_fluoride,quality_group_milky,quality_group_salty,quality_group_unknown,quantity_enough,quantity_insufficient,quantity_seasonal,source_type_dam,source_type_other,source_type_rainwater harvesting,source_type_river/lake,source_type_shallow well,source_type_spring,waterpoint_type_communal standpipe multiple,waterpoint_type_improved spring,waterpoint_type_other,random1,random2
0,69572,6000.0,1,3376,275,1390.0,3477,94,34.938093,-9.856322,39031,1,0,1,11937,6,3,5294,11,5,51,564,1426,36,109,True,False,1999.0,2011,False,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,719,788

In [23]:
df_training_set_labels = pd.read_csv("training set labels.csv") 
new_df_modelado = pd.merge(new_df_modelado, df_training_set_labels, how = 'inner', on = 'id')
new_df_modelado['status_group'].replace(['non functional', 'functional needs repair', 'functional'], [0, 1, 2], inplace=True)
new_df_modelado.head(1)

,id,amount_tsh,amount_tsh_bool,funder,funder_frequency_encoded,gps_height,installer,installer_frequency_encoded,longitude,latitude,wpt_name,wpt_name_frequency_encoded,num_private_b,basin,subvillage,subvillage_frequency_encoded,region,region_frequency_encoded,region_code,district_code,lga,lga_frequency_encoded,ward,ward_frequency_encoded,population,public_meeting,permit,construction_year,year_recorded,management_Parastatal,management_Private operator,management_VWC,management_WUA,management_WUG,management_Water Board,management_Water authority,extraction_type_class_motorpump,extraction_type_class_other,extraction_type_class_rope pump,extraction_type_class_submersible,extraction_type_class_wind-powered,management_group_other/unknown,management_group_user-group,payment_type_monthly,payment_type_on failure,payment_type_other/unknown,payment_type_per bucket,quality_group_fluoride,quality_group_milky,quality_group_salty,quality_group_unknown,quantity_enough,quantity_insufficient,quantity_seasonal,source_type_dam,source_type_other,source_type_rainwater harvesting,source_type_river/lake,source_type_shallow well,source_type_spring,waterpoint_type_communal standpipe multiple,waterpoint_type_improved spring,waterpoint_type_other,random1,random2,status_group_x,status_group_y,status_group
0,69572,6000.0,1,3376,275,1390.0,3477,94,34.938093,-9.856322,39031,1,0,1,11937,6,3,5294,11,5,51,564,1426,36,109,True,False,1999.0,2011,False,False,True,False,False,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,False,False,False,719,788,functional,functional,2

In [28]:
new_df_modelado.shape

(59400, 68)

In [25]:
model_setup = setup(data=new_df_modelado, 
                    target = 'status_group', 
                    )

In [26]:
if 0:
    best_model = compare_models()
else:
    best_model = create_model('rf')
# Y los resultados salen mal. Un accuracy de 0 no es realista. Me gusatría indagar en qué sucede si quiero las columnas con colinealidad pero
# quiero probar otras cosas. Continuo en el V7.1